
<div>Title: <%= @snake.title%></div>
<div>Description: <%= @snake.description%></div>
<div>Breed: <%= @snake.breed.name %></div>
<div>Sex: <%= @snake.sex%></div>
<div>Price: <%= @snake.price%></div>
<div>Deposit: <%= @snake.deposit%></div>
<div>State: <%= @snake.state%></div>
<div>City: <%= @snake.city%></div>
<div>Date of Birth: <%= @snake.date_of_birth%></div>
<div>Diet: <%= @snake.diet%></div>

<%= link_to "Delete",  listing_path(params[:id]), :method => :delete %>
